@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 52.88%; 
  margin: 0 auto;
}

body {
  /*position: relative;*/
}

* {
  color: #FFF;
  background-color: #000;
}
/*=================================
  Header styling starts here
=================================*/
header {
  /*position: absolute;
  top: 0;*/
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
}

header .wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 2% 6%;
  font-size: 13px;
  background: transparent;
}

.logo {
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 15px;
  background: transparent;
}

/*styling nav bar start here*/
.nav-list li {
  margin-right: 25px;
  text-transform: capitalize;
  background: transparent;
}

.nav-list li:hover {
  color: #48D494;
  cursor: pointer;
  background: transparent;
}

.active {
  border-bottom: 1px solid #FFF;
  padding-bottom: 4px;
}
/*styling nav bar end here*/

.contact-btn {
  background: transparent;
}

.contact-btn > a {
  color: #48D494;
  font-size: 9px;
  padding: 5px 10px;
  text-transform: uppercase;
  border: 1px solid #48D494;
}

.contact-btn > a:hover {
  color: #000;
  background-color: #48D494;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/*styling banner image start here*/
.banner-img {
 /* position:absolute;
  top: 0;*/
  width: 100%;
  height: 600px;
  align-items: center;
  background-image:url("gymer-banner.jpg");
}

.banner-img .wrapper > div {
 /* position: absolute;*/
  display: flex;
  padding: 35% 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.banner-img .wrapper > div h2 {
  font-size: 65px;
  font-weight: bold;
  text-transform: capitalize;
  background: transparent;
}
/*styling banner image end here*/
/*styling introduction section start here*/
.introduction {
  margin: 70px 0;
}

.introduction .wrapper {
  display: flex;
  flex-direction: column;
}

.introduction .wrapper > ul {
  margin: 7% 0;
}

.activity-list {
  display: flex;
  justify-content: space-between;
}

.activity-list li {
  display: flex;
  flex-direction: row;
}

.activity-list > li > div > span {
  visibility: hidden;
}

.activity-list > li > div > h4 {
  font-size: 25px;
  margin: 10% 0;
}

.activity-list > li > div > p {
  color: #6A6251;
  font-size: 10px;
  margin: 10% 0;
  text-transform: capitalize;
}

.your-fitness {
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
}

.your-fitness > div,figure {
  width: 50%;
}

.your-fitness > div {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 0;
}

.your-fitness > div > h3 {
  padding: 0 90px 0 0;
  font-size: 30px;
  text-transform: capitalize;
  font-weight: bold;
  margin: 20px 0;
  color: #48D494;
}

.your-fitness > div > p {
  width: 100%;
  padding-right: 10px;
  color: #6A6251;
  font-size: 10px;
  line-height: 18px;
  margin-bottom: 20px;
}

.your-fitness > div > div > a {
  text-transform: uppercase;
  padding: 10px 15px;
  background-color: #48D494;
  color: #000;
  border-radius: 5%;
  font-size: 9px;
  font-weight: bold;
  border: 1px solid #48D494;
}

.your-fitness > figure {
  box-shadow: 7px 7px #48D494;
}
/*styling introduction section end here*/
/*styling classes section start here*/
.classes {
  margin: 55px 0;
}

.classes > .wrapper > h3,p {
  width: 50%;
}

.classes .wrapper > h3 {
  font-size: 30px;
  text-transform: capitalize;
  font-weight: bold;
  margin: 20px 0;
  color: #48D494;
}

.classes .wrapper > p {
  color: #6A6251;
  font-size: 10px;
  line-height: 18px;
  margin-bottom: 20px;
}
/*styling classes section end here*/
/*styling for class slider start here*/
.class-slider .wrapper{
  width: 100%;
}

.class-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.class-img-list {
  display: flex;
  width: 100%;
}

.class-img-list > li > figure {
  width: 100%;
  border: 1px solid #000;
}

.class-dot-list {
  display: flex;
  justify-content: center;
}

.class-dot-list > li {
  margin: 10px;
}

.class-dot-list > li a::before {
  content: "\f002";
  font-family: "fontAwesome";
  text-indent: 0;
  padding-right: 10px;
}

.active-dot a{
  color: #48D494;
}
/*styling for class slider end here*/
/*styling for schedule start here*/
.schedule {
  margin: 8% 0;
}

.schedule .wrapper > h3 {
  font-size: 30px;
  text-transform: capitalize;
  font-weight: bold;
  margin: 20px 0;
  color: #48D494;
}  

.schedule .wrapper > p {
  color: #6A6251;
  font-size: 10px;
  line-height: 18px;
  margin-bottom: 20px;
}
/*styling for weekday-list start here*/
.weekday-list {
  display: flex;
  justify-content: center;
  margin: 40px 0px;
}

.weekday-list > li {
  margin: 10px;
  padding: 7px 8px;
  font-size: 10px;
  color: #48D494;
  text-transform: capitalize;
}

.active-day {
  border: 1px solid #48D494;
  border-radius: 7%;
  padding: 7px 10px;
  background-color: #48D494;
}

.weekday-list li:first-child {
  color: #FFF;
}
/*styling for weekday-list start here*/
/*styling for table-list start here*/
.table-list {
  display: flex;
  flex-direction: column;
}

.table-row {
  display: flex;
  justify-content: space-between;
}

.table-row li {
  border: 1px solid #FFF;
  border-collapse: collapse;
  padding: 15px 10px;
  width: 100%;
  font-size: 10px;
  text-transform: capitalize;
}

.join-now {
  color: #48D494;
}

.table-row :last-child {
  text-align: center;
}

.table-row > li:nth-child(2) {
  padding-right: 10%;
}
/*styling for table-list end here*/
/*styling for schedule end here*/
/*styling for trainer section start here*/
.trainers {
  margin: 8% 0;
}

.trainers .wrapper > h3 {
  font-size: 30px;
  text-transform: capitalize;
  font-weight: bold;
  margin: 20px 0;
  color: #48D494;
}

.trainers .wrapper > p {
  color: #6A6251;
  font-size: 10px;
  line-height: 18px;
  margin-bottom: 20px;
}

.trainers-list {
  display: flex;
  justify-content: space-between;
}

.trainers-list li {
  width: 100%;
}

.trainers-info li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.trainers-info {
  width: 100%;
}

.trainer-photo {
  width: 80%;
  box-shadow: 10px 10px #48D494;
}

.trainer-name {
  margin: 40px 0 10px 0;
  text-transform: capitalize;
  font-size: 16px;
}

.trainer-designation {
  text-transform: capitalize;
}

.trainers-info p {
  color: #6A6251;
  font-size: 10px;
  line-height: 18px;
  margin-bottom: 20px;
}

.trainers-list li:nth-child(2){
  margin-top: 30px;
}

.trainers-info li:last-child p {
  width: 100%;
}
/*styling for trainer section end here*/
/*styling for services section start here*/
.services {
  margin: 8% 0;
}

.services .wrapper>h3 {
  width: 30%;
  font-size: 30px;
  text-transform: capitalize;
  font-weight: bold;
  margin: 20px 0;
  color: #48D494;
}

.services .wrapper>p{
  width: 45%;
  color: #6A6251;
  font-size: 10px;
  line-height: 18px;
  margin-bottom: 20px;
}

.featured-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured-card-list {
  display: flex;
  justify-content: space-between;
}

.featured-card-list li {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin: 3% 0;
}

.featured-card {
  width: 100%;
  background-color: #48D494;
  color: #FFF;
  display: flex;
  flex-direction: column;
  padding: 15%;
  margin: 0 4%;
}

.featured-card span,h4,p {
  width: 100%;
  background: transparent;
}

.featured-card span::before {
  content: "\f184"; /*Because solid free icons were not working*/
  font-family: "Font Awesome 5 Brands";
  font-size: 45px;
  font-weight: 400;
  color: #FFF;
  text-indent: 0;
  margin: 10% 0;
}

.featured-card h4 {
  text-transform: capitalize;
  font-size: 20px;
  margin: 10% 0;
}

.featured-card p {
  font-size: 10px;
  line-height: 18px;
}

.featured-dot-list li a::before{
  content: "\f5f1"; /*Because solid free icons were not working*/
  font-family: "Font Awesome 5 Brands";
  text-indent: 0;
  font-weight: 400;
  font-size: 12px;
}
/*styling for services section end here*/
/* styling for contact us section start here*/
.contact-us {
  background-color: #121212;
}

.contact-us .wrapper {
  background: transparent;
  width: 30%;
}

.contact-us h3 {
  background: transparent;
  font-size: 30px;
  padding-top: 10%;
  text-transform: capitalize;
  font-weight: bold;
  color: #48D494;
}

.contact-us p {
  color: #6A6251;
  font-size: 10px;
  margin: 2% 0;
  line-height: 18px;
  margin-bottom: 20px;
}

.contact-us form {
  background: transparent;
}

.contact-us-form {
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.contact-us-form li {
  background: transparent;
}
 
.contact-us-form li div {
  background: transparent;
}

.contact-us-form li input {
  width: 100%;
  margin: 2% 0;
  font-size: 12px;
  padding: 5px 10px;
  border: 1px solid #FFF;
  background: transparent;
}

.csf-first-inputs {
  display: flex;
  justify-content: space-between;
  background: transparent;
}

.csf-first-inputs div input {
  font-size: 12px;
  padding: 5px 10px;
  border: 1px solid #FFF;
}

.contact-us-form :nth-child(4) > textarea {
  width: 100%;
  height: 150px;
  margin: 2% 0;
  font-size: 12px;
  padding: 5px 10px;
  border: 1px solid #FFF;
  background: transparent;
}

.contact-us-form :nth-child(5) > button {
  width: 50%;
  margin: 2% 0;
  font-size: 10px;
  padding: 5px 10px;
  border: 1px solid #48D494;
  border-radius: 5px;
  color: #000;
  text-transform: uppercase;
  background-color: #48D494;
  margin-bottom: 15%;
}
/* styling for contact us section end here*/

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  